
.notes-list{
  height: 500px;
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.notes-list a{
	width: 180px;
	height: 270px;
	text-align: center;
	line-height: 270px;
	font-size: x-large;
	margin: 15px;
	box-shadow: 5px 5px 0  #d3d3d3;
	text-decoration: none;
	color: white;
	word-wrap: break-word;

	li{
		list-style: none;
		height: 270px;
	}
}
.notes-list a:nth-child(odd){
	background-color: #f1a686;
}
.notes-list a:nth-child(even){
	background-color: #f6d698;
}
