

.note-detail-info{
	padding-left: 300px;
	padding-right: 100px;

	h2{
		text-align: center;
	}

	hr{
		border-style: solid;
		border-color: #e2e7ed;
		border-width: 1px;
	}

	.content-description{
		padding: 10px;
	}
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;

	button{
		width: 160px;
		height: 45px;
		margin: 20px 10px;
		font-size: large;
		text-align: center;
		line-height: 45px;
	}
}

.delete{
	background-color: #fd6d83;
	color: black;

	&:hover{
		background-color: white;
		border: 2px solid red;
	}
}


