
.creat-note{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 20%;

	h2{
		text-align: center;
	}

	hr{
		width: 100%;
		border-style: solid;
		border-width: 1px;
		border-color: #e2e7ed;
		margin-bottom: 30px;
	}

	label{
		margin: 10px 0;
		font-size: large;
	}
}

.title-input{
	width: 100%;
	height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #e2e7ed;
}

.description-input{
	width: 100%;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	border-color: #e2e7ed;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;

	button{
		width: 160px;
		height: 45px;
		margin: 20px 10px;
		font-size: large;
		line-height: 45px;
		color: black;
	}
}

.submit{
	background-color: #fd6d83;
}

.submit[disabled]{
	background-color: lighten(#fd6d83, 20%);
}

.cancel{
	background-color: #f1f2f6;
}


