
.side-bar{
	background-color: #f1f2f6;
	margin: 0;
	top: 50px;
	width: 240px;
	height: 100%;
	position: fixed;
}

.nav-link{
	list-style: none;
	margin: 10px 0;
	padding-left: 20px;
	height: 40px;
	width: 200px;
	line-height: 50px;
	&:hover{
		background-color: #dfe4ea;
	}
}

a{
	text-decoration: none;
	color: black;
}
