
.home-header{
	margin: 0;
	width: 100%;
	height: 50px;
	background-color: #aab7f0;
}

.home-header a {
	position:absolute;
	left: 20px;
	top: 5px;
	height: 30px;
	line-height: 50px;
	font-size: 30px;
	color: black;
}

.home-header h1{
	color: white;
	margin: 0;
	text-align: center;
	line-height: 50px;
}
